/* --------------------FONTS-------------------- */

.fontSpecimen {
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* --------------------GLOBAL-------------------- */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #393939;
    font-family: "Lexend", sans-serif;
    padding: 10px;
}


/* --------------------THEME FILTER-------------------- */

.filter-container {
    color: #faf7e8;
}

.theme-filter {
    font-family: "Lexend", sans-serif;
    background-color: #faf7e8;
}


/* --------------------KANBAN-------------------- */

.kanban {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    margin: 20px 150px 10px 150px;
}

.task-column {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 5px;
    width: 300px;
}

.status {
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    width: inherit;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: solid 3px #faf7e8;
    color: #faf7e8;
    font-weight: 500;
    font-size: large;
    text-transform: uppercase;
}

.task-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: inherit;
}

.task {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: inherit;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border: solid 1px #faf7e8;
    color: #faf7e8;
}

.theme {
    text-align: left;
    font-size: larger;
    text-transform: uppercase;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
}

.link {
    text-align: left;
    margin-bottom: 10px;
    font-style: italic;
    flex-wrap: wrap;
    overflow-wrap: anywhere;
    text-decoration: none;
    color: #dcdbd6;
    font-weight: 300;
}

.description {
    flex-wrap: wrap;
    overflow-wrap: break-word;
    text-align: justify;
}

label {
    font-weight: bold;
}

select {
    background-color: #faf7e8;
    border-radius: 8px;
    color: #393939;
    cursor: pointer;
    margin-left: 15px;
    font-size: 0.75rem;
}

.themeAndSelect {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 10px;
}

.lightGreen {
    background-color: #0d8c7d;
}

.green {
    background-color: #08695e;
}

.darkGreen {
    background-color: #074b43b7;
    color: #faf7e8bb;
}